/* Font inits */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@font-face {
    font-family: 'Freude';
    src: url('https://kex1016.github.io/fonts/Freude-Normal.woff2') format('woff2'),
    url('https://kex1016.github.io/fonts/Freude-Normal.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* variables */
:root,
.site-theme-dark,
.site-theme-contrast {
    --color-background: 53, 15, 4;
    --color-foreground: 77, 21, 6;
    --color-shadow: 38, 34, 34;
    --color-overlay: 0,0,0;
    --color-foreground-grey: 31, 31, 31;
    --color-background-400: 81,97,112;
    --color-background-300: 18, 18, 18;
    --color-background-100: 26, 26, 26;
    --color-background-200: 39, 39, 39;

    --color-text: 255, 255, 255;
    --color-text-light: 233, 105, 72;

    --headquarters-top: 80px;
    --headquarters-left: 20px;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 0.5em;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #ffffff, #919191);
    outline: 1px solid rgb(136, 93, 0);
    border-radius: 10px;
}

/* replace color-blue */
:root,
.user-page-unscoped.orange,
.site-theme-dark .user-page-unscoped.orange,
.site-theme-contrast .user-page-unscoped.orange {
    --color-blue: 238, 176, 4;
    --color-fav-red: 206, 28, 28;
    --color-fav-blue: 71, 177, 203;
}

/* Remove ugliness */
.percentage-bar[data-v-aedb6876],
.footer[data-v-815ccddc],
.user .chevron[data-v-4fbac4e1]{
    display: none;
}

/* Name font */
.name[data-v-5445dac8] {
    text-shadow: rgb(53, 15, 4) 4px 0px 0px, rgb(53, 15, 4) 3.87565px 0.989616px 0px, rgb(53, 15, 4) 3.51033px 1.9177px 0px, rgb(53, 15, 4) 2.92676px 2.72656px 0px, rgb(53, 15, 4) 2.16121px 3.36588px 0px, rgb(53, 15, 4) 1.26129px 3.79594px 0px, rgb(53, 15, 4) 0.282949px 3.98998px 0px, rgb(53, 15, 4) -0.712984px 3.93594px 0px, rgb(53, 15, 4) -1.66459px 3.63719px 0px, rgb(53, 15, 4) -2.51269px 3.11229px 0px, rgb(53, 15, 4) -3.20457px 2.39389px 0px, rgb(53, 15, 4) -3.69721px 1.52664px 0px, rgb(53, 15, 4) -3.95997px 0.56448px 0px, rgb(53, 15, 4) -3.97652px -0.432781px 0px, rgb(53, 15, 4) -3.74583px -1.40313px 0px, rgb(53, 15, 4) -3.28224px -2.28625px 0px, rgb(53, 15, 4) -2.61457px -3.02721px 0px, rgb(53, 15, 4) -1.78435px -3.57996px 0px, rgb(53, 15, 4) -0.843183px -3.91012px 0px, rgb(53, 15, 4) 0.150409px -3.99717px 0px, rgb(53, 15, 4) 1.13465px -3.8357px 0px, rgb(53, 15, 4) 2.04834px -3.43574px 0px, rgb(53, 15, 4) 2.83468px -2.82216px 0px, rgb(53, 15, 4) 3.44477px -2.03312px 0px, rgb(53, 15, 4) 3.84068px -1.11766px 0px, rgb(53, 15, 4) 3.9978px -0.132717px 0px;
    font-family: 'Freude', serif;
    color: #eeb004;
}

/* Stuff after name */
.name[data-v-5445dac8]::after {
    content: "Nyan!";
    text-shadow: none;
    position: relative;
    left: 10px;
    top: -1px;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: rainbow;
    animation-timing-function: ease-in-out;
    border-radius: 4px;
    color: white;
    padding: 5px 8px;
    margin-bottom: 20px;
    margin-right: 16px;
    font-size: 1.2rem;
    cursor: default;
}

/* bottom image */
.content-wrap[data-v-2cf72664] a[href="https://weebsquad.moe/"] {
    position: fixed;
    top: 88%;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("https://files.weebsquad.moe/5ufXoQoj.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.content-wrap[data-v-2cf72664] a[href="https://weebsquad.moe/"] b {
    margin-left: 0;
    transition: 0.5s;
    width: 150px;
    padding: 4px 6px;
    border-radius: 5px;
    z-index: 20;
}

.content-wrap[data-v-2cf72664] a[href="https://weebsquad.moe/"]:hover b {
    margin-left: 100px;

    background: rgb(var(--color-foreground));
}

.content-wrap[data-v-2cf72664] a[href="https://weebsquad.moe/"] b::after {
    transition: 0.5s;
    position: relative;
    content: 'Click to go to the Weeb Squad HQ!';
    opacity: 0;
    margin-left: 0;
}

.content-wrap[data-v-2cf72664] a[href="https://weebsquad.moe/"]:hover b::after {
    content: 'Click to go to the Weeb Squad HQ!';
    opacity: 1;
}

/* footer recolor */
.footer[data-v-82d0a8cc] {
    background: rgba(var(--color-foreground));
}

/* stats stuff */
.stats-wrap[data-v-2cf72664] {
    grid-template-columns: 1fr;
}

.overview[data-v-2cf72664] .content-wrap[data-v-815ccddc]:first-of-type {
    border-radius: 4px 4px 0 0;
}

.overview[data-v-2cf72664] .content-wrap[data-v-815ccddc]:last-of-type {
    border-radius: 0 0 4px 4px;
}

/* navbar */
/* navbar */
.site-theme-dark .nav-unscoped.transparent,
.nav-unscoped.transparent,
.site-theme-dark .nav-unscoped,
.nav[data-v-4fbac4e1]:not(.transparent) {
    border-bottom: 2px rgb(var(--color-blue)) solid;
}

.site-theme-dark .nav-unscoped.transparent,
.nav-unscoped.transparent {
    background: rgba(var(--color-text-light), 0.5);
    color: white;
}

.site-theme-dark .nav-unscoped.transparent:hover,
.nav-unscoped.transparent:hover,
.site-theme-dark .nav-unscoped,
.nav[data-v-4fbac4e1]:not(.transparent) {
    background: rgba(var(--color-text-light), 0.8);
    color: white;
}
