/* 
    Version 1.0
    
    Original CSS by https://anilist.co/user/Sigma/
    Edited by https://anilist.co/user/cakes/

    Main edits:
    - Banner
    - Sidebar overlay (AL bio hack, only works on overview)
    - Generalized the CSS so it won't break on AL updates
*/
/*===============================================
    body element modifications
===============================================*/

body {
  overflow: overlay;
  background: rgba(var(--color-background)) !important;
  box-shadow: inset 0 330px 50px rgba(0, 0, 0, 0.7);
}

body::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
  width: 6px;
}
body::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(25, 190, 255, 0.75);
  border-radius: 15px;
  width: 4px;
}

.about .content-wrap[data-v-5c30286e]::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
  width: 4px;
}
.about .content-wrap[data-v-5c30286e]::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
.about .content-wrap[data-v-5c30286e]::-webkit-scrollbar-thumb {
  background-color: rgba(196, 196, 240, 0.2);
  border-radius: 10px;
}

/*===============================================
    Turning 3 site themes into 1
===============================================*/

:root,
body,
.site-theme-dark,
.site-theme-contrast {
  --color-background: 12, 19, 30;
  --color-foreground: 19, 28, 40;
  --color-foreground-grey: 15, 22, 31;
  --color-foreground-grey-dark: 6, 12, 19;
  --color-foreground-blue: 15, 22, 31;
  --color-foreground-blue-dark: 6, 12, 19;
  --color-text: 159, 173, 189;
  --color-text-light: 114, 138, 161;
  --color-text-lighter: 133, 150, 165;
  --color-shadow-blue: 0, 5, 15;
  --color-background-1200: 251, 251, 251;
  --color-background-1100: 240, 243, 246;
  --color-background-1000: 221, 230, 238;
  --color-background-900: 201, 215, 227;
  --color-background-800: 173, 192, 210;
  --color-background-700: 139, 160, 178;
  --color-background-600: 116, 136, 153;
  --color-background-500: 100, 115, 128;
  --color-background-400: 81, 97, 112;
  --color-background-300: 30, 42, 56;
  --color-background-100: 21, 31, 46;
  --color-background-200: 11, 22, 34;
  --color-gray-1200: 251, 251, 251;
  --color-gray-1100: 240, 243, 246;
  --color-gray-1000: 221, 230, 238;
  --color-gray-900: 201, 215, 227;
  --color-gray-800: 173, 192, 210;
  --color-gray-700: 139, 160, 178;
  --color-gray-600: 116, 136, 153;
  --color-gray-500: 100, 115, 128;
  --color-gray-400: 81, 97, 112;
  --color-gray-300: 30, 42, 56;
  --color-gray-100: 21, 31, 46;
  --color-gray-200: 11, 22, 34;
  --cc-foreground: 21, 34, 50;

  background: rgb(var(--color-background));
}

/*===============================================
    Removing that stupid genres widget
===============================================*/

.desktop:nth-of-type(3) {
  height: 0;
  visibility: hidden;
}

/*===============================================
    Header modifications
===============================================*/

.nav-unscoped.transparent,
.nav-unscoped {
  background: rgb(var(--color-foreground));
}

.nav-unscoped.transparent:hover {
  background: rgb(var(--color-foreground));
}

.header-wrap {
  background: linear-gradient(
      rgb(var(--color-background), 0.5),
      rgb(var(--color-background), 0.8)
    ),
    url(https://files.weebsquad.moe/GM9ul3Km.png) 100% 20% no-repeat;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
}

.header-wrap .banner[style] {
  background-color: transparent;
  background-image: none !important;
}

.header-wrap .banner {
  height: 500px;
}

.header-wrap .banner .container,
.banner .container .banner-content {
  align-items: center;
}

.banner-content .name {
  font-size: 8rem;
  padding: 30px 50px 0px 0px;
  display: flex;
  align-items: center;
}

.banner-content h1.name {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
}

.header-wrap .avatar {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 20px;
  transform: rotate(-10deg);
}

.header-wrap .banner-content {
  margin-top: 20px;
  position: relative;
}

.header-wrap .actions {
  min-width: 1px;
  display: flex;
  align-items: center;
  margin-left: -290px;
}

.header-wrap .actions .nav-btn {
  margin-top: 150px;
  border-radius: 20px;
  width: 200px;
}

.header-wrap .actions .dropdown {
  margin-top: 150px;
  background: rgba(var(--color-overlay), 0);
}

.header-wrap .actions .dropdown:hover {
  background: rgba(var(--color-overlay), 0);
}

.header-wrap .nav-wrap {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

.header-wrap .nav-wrap .nav .link {
  margin: 0 30px;
  font-size: 1.7rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: 0.5s;
}

.header-wrap .nav-wrap .nav .link:hover {
  border-bottom: 2px solid rgb(var(--color-text-light));
  transition: 0.2s;
}

.header-wrap .nav-wrap .nav .link.router-link-active {
  border-bottom: 2px solid rgba(var(--color-text-light), 0.5);
}

.header-wrap .nav-wrap .nav .link:nth-child(7),
.header-wrap .nav-wrap .nav .link:nth-child(8) {
  width: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

/*===============================================
    Body modifications
===============================================*/

.overview * {
  border-radius: 6px !important;
}

.favourites .favourite {
  border-radius: 7px !important;
}

.activity-message .wrap > .actions,
.activity-text .wrap > .actions {
  right: 0;
  bottom: 0;
  font-size: 1.35rem;
  position: relative;
  margin: -10px 10px 10px 15px;
}

.activity-message .wrap > .text .activity-markdown,
.activity-text .wrap > .text .activity-markdown {
  border-radius: 0 !important;
  border-bottom: 1px solid rgba(var(--color-text), 0.1);
}

.activity-message > .wrap > .time,
.activity-text > .wrap > .time {
  left: 72px;
  top: 40px;
  font-weight: 300;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.activity-entry .time:hover {
  background: none !important;
}

.activity-message > .wrap > .text .name,
.activity-text > .wrap > .text .name {
  padding-top: 5px;
  line-height: 15px;
}

.section > .stats-wrap > .list-stats > .footer {
  width: 0;
  height: 0;
}

.overview {
  background-color: rgb(var(--color-background));
}

.section > .stats-wrap > .list-stats > .stats-wrap {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 10px;
  grid-template-columns: auto auto;
  padding: 20px 40px;
  text-align: left;
}

.section > .stats-wrap > .list-stats > .stats-wrap .stat:nth-child(1) {
  grid-row-start: span 2;
}

.section > .stats-wrap > .list-stats > .stats-wrap .stat:nth-child(1) .value {
  font-size: 5.5rem;
}

.section > .stats-wrap > .list-stats > .stats-wrap .stat .value {
  font-size: 2rem;
  padding-bottom: 0px;
}

.section > .stats-wrap > .list-stats > .stats-wrap .stat .label {
  font-size: 1.2rem;
}

.section
  > .stats-wrap
  > .list-stats:nth-child(1)
  .stat:nth-child(1)
  .label:before {
  content: "";
  mask: url(https://criolaservice.by/AL-css/svg/tv.svg) no-repeat 50% 50%;
  -webkit-mask: url(https://criolaservice.by/AL-css/svg/tv.svg) no-repeat 50%
    50%;
  mask-size: cover;
  -webkit-mask-size: cover;
  width: 19px;
  height: 16px;
  margin-right: 5px;
  background-color: rgba(var(--color-text-light));
}

.section > .stats-wrap > .list-stats:nth-child(2) .stat:nth-child(1) .label,
.section > .stats-wrap > .list-stats:nth-child(1) .stat:nth-child(1) .label {
  display: flex;
  align-items: center;
  color: rgb(var(--color-text-light));
}

.section
  > .stats-wrap
  > .list-stats:nth-child(2)
  .stat:nth-child(1)
  .label:before {
  content: "";
  mask: url(https://criolaservice.by/AL-css/svg/book.svg) no-repeat 50% 50%;
  -webkit-mask: url(https://criolaservice.by/AL-css/svg/book.svg) no-repeat 50%
    50%;
  mask-size: cover;
  -webkit-mask-size: cover;
  width: 13px;
  height: 16px;
  margin-right: 5px;
  background-color: rgba(var(--color-text-light));
}

.user .about > div.content-wrap {
  padding-bottom: 0;
}

/*===============================================
    Overlay
===============================================*/
.overview > .section > .about > .content-wrap > .markdown b[href="overlay"] {
  position: fixed;
  width: 500px;
  height: 100%;

  top: 0;
  left: -500px;
  background: rgb(var(--color-foreground));
  z-index: 100;

  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

  transition: left 0.3s ease-in-out;
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]:focus-within {
  left: 0;
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]
  > b[href="arrow"] {
  width: 40px;
  height: 100px;
  background: rgb(var(--color-foreground));

  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

  position: fixed;
  top: calc(50% - 50px);
  left: 0;
  transition: all 0.3s linear;
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]
  > b[href="arrow"]
  > a {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]
  > b[href="arrow"]
  > a::after {
  content: ">";
  font-size: 3rem;
  color: white;
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]:focus-within
  > b[href="arrow"] {
  width: 100%;
  height: 100%;
  transition: all 0s linear;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]:focus-within
  > b[href="arrow"]
  > a {
  width: 0;
  height: 0;
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]:focus-within
  > b[href="arrow"]
  > a::after {
  content: "";
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]:focus-within
  > a[href="#"] {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]
  > b[href="list"] {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: auto;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1000;
  pointer-events: none;
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]
  > b[href="title"] {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  background: rgba(var(--color-background));
  color: white;
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]
  > b[href="title"]::after {
  content: "Links";
  font-size: 6rem;
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]
  > b[href="list"]
  > a {
  width: 90%;
  text-align: center;
  padding: 20px 10px;
  color: white;
  font-weight: 400;
  font-size: 3rem;
  border-radius: 20px !important;
  pointer-events: auto;
  transition: background linear 0.35s;
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]
  > b[href="list"]
  > a:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: background linear 0.1s;
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]
  > b[href="list"]
  > a:nth-of-type(1)::after {
  content: "Last.fm";
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="overlay"]
  > b[href="list"]
  > a:nth-of-type(2)::after {
  content: "osu!";
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="CSS_credits"] {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="CSS_credits"]
  > b::after {
  content: "Base CSS by ";
}

.overview
  > .section
  > .about
  > .content-wrap
  > .markdown
  b[href="CSS_credits"]
  > a::after {
  content: "Sigma";
}
