//META{"name":"Spotify_Discord","description":"Combine Discord and Spotify into one","author":"CapnKitten","version":"1.3.3"}*//{}

@import url(https://capnkitten.github.io/BetterDiscord/Spotify-Discord/css/source.css);

/*
    SPOTIFY DISCORD THEME
    MODIFIED BY Kex#2320
*/

:root {
    --accent-color: #2fda62;
    --accent-hover: #36f770;
    --accent-rgb: rgba(47, 218, 98, 0.3);
    --alt-accent: #5680d4;
    --alert-color: #f04747;
    --alert-hover: #ff4c4c;

    --chat-color: #1e1e1e;
    --chat-box-color: #171717;
    --side-color: #191919;
    --bar-color: #2c2c2c;

    /*--button-background: #1a1a1a;*/
    --button-background: rgba(0, 0, 0, 0.2);
    --button-border: 1px solid #b2b2b2;
    --button-border-hover: 1px solid #fff;
    --card-border: var(--bar-color);

    --slider-color: #b2b2b2;
    --slider-background: var(--menu-border-color);

    --popout-color: var(--bar-color);
    --popout-radius: 7px;

    --menu-hover-color: #424242;
    --menu-hover-color-alt: #252525;
    --menu-select-color: #4d4d4d;
    --menu-border-color: #424242;
    --menu-text-color: #b2b2b2;

    --select-input-color: #363636;

    --checkbox-border-checked: transparent;
    --checkbox-border-unchecked: var(--menu-border-color);
    --checkbox-checked: #fff;
    --checkbox-unchecked: #9f9f9f;

    --default-shadow: 0 7px 18px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.25), 0 -2px 10px rgba(0, 0, 0, 0.25), 0 0 15px rgba(0, 0, 0, 0.25);

    --scrollbar-track: #1e1e1e;
    --scrollbar-thumb: #545454;
    --scrollbar-thumb-hover: #9f9f9f;
}

.headerPlaying-j0WQBV,
.headerStreaming-2FjmGz,
.topSectionPlaying-1J5E4n {
    background: var(--accent-color);
    border-radius: 0;
}

.userPopout-3XzG_A .wrapper-3t9DeA,
.userPopout-3XzG_A .avatarHint-1qgaV3,
.avatar-3EQepX {
    width: 120px !important;
    height: 120px !important;
}

.button-14-BFJ.enabled-2cQ-u7,
.clickable-1JJAn8.container-2Pjhx- .layout-2DM8Md,
.clickable-1JJAn8.container-2Pjhx- .roleColor-rz2vM0,
.wrapper-1ucjTd,
.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ,
.side-8zPYf6 .item-PXvHYJ,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item,
.lookFilled-1Gx00P.colorPrimary-3b3xI6,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorRed-1TFJan,
.lookFilled-1Gx00P.colorGrey-2DXtkV,
.lookFilled-1Gx00P.colorWhite-rEQuAQ,
.lookFilled-1Gx00P.colorTransparent-1ewNp9,
.lookOutlined-3sRXeN.colorPrimary-3b3xI6,
.lookOutlined-3sRXeN.colorBrand-3pXr91,
.lookOutlined-3sRXeN.colorGreen-29iAKY,
.lookOutlined-3sRXeN.colorWhite-rEQuAQ,
.lookOutlined-3sRXeN.colorRed-1TFJan,
.lookOutlined-3sRXeN.colorTransparent-1ewNp9,
.lookLink-9FtZy-.colorPrimary-3b3xI6,
.lookLink-9FtZy-.colorBrand-3pXr91,
.lookLink-9FtZy-.colorWhite-rEQuAQ,
.lookLink-9FtZy-.colorGrey-2DXtkV,
.lookInverted-2D7oAl.colorBrand-3pXr91,
.lookInverted-2D7oAl.colorGreen-29iAKY,
.lookGhost-2Fn_0-.colorWhite-rEQuAQ,
.copyInput-2rOSt7 .lookGhost-2Fn_0-.colorGrey-2DXtkV,
.streamerModeEnabledBtn-2ZJ2eq,
.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u,
.headerButtonColor-G7_f-V,
.disabledButtonColor-RDvfEC,
.searchQuery-1B7rtx .keybindShortcut-1BD6Z1 span,
.action-yrVND8,
.header-1RC2Wb .button-38aScr,
.actionButton-2PeQbJ,
.cancelButton-RGXhAE,
.backButton-25HgIF,
.shareButton-3w0M74,
.hasMore-3e72_v,
.button-3tQuzi,
.button-1MICoQ,
.button,
.dismiss-SCAH9H,
.learnMoreButton-1OUyxs,
.bd-pfbtn,
.bda-slist .bda-footer button,
.pluginrepo-modal .pluginEntry.downloadable .btn-download,
.bda-slist li button,
.dc-button,
.smalltalk button,
.form-deprecated .btn-primary,
.form.deprecated .btn-primary,
.create-guild-container.deprecated .form-actions .btn-default,
.regionSelect-3lf4eE button,
.closeButton-1tv5uR,
.avatar-1BDn8e.clickable-1bVtEA,
.additionalActionsIcon-1FoUlE,
.item-1Yvehc {
    transition: all .2s !important;
}

.lookFilled-1Gx00P.colorPrimary-3b3xI6:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.lookFilled-1Gx00P.colorRed-1TFJan:hover,
.lookFilled-1Gx00P.colorGrey-2DXtkV:hover,
.lookFilled-1Gx00P.colorWhite-rEQuAQ:hover,
.lookFilled-1Gx00P.colorTransparent-1ewNp9:hover,
.lookOutlined-3sRXeN.colorPrimary-3b3xI6:hover,
.lookOutlined-3sRXeN.colorBrand-3pXr91:hover,
.lookOutlined-3sRXeN.colorGreen-29iAKY:hover,
.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover,
.lookOutlined-3sRXeN.colorRed-1TFJan:hover,
.lookOutlined-3sRXeN.colorTransparent-1ewNp9:hover,
.lookLink-9FtZy-.colorPrimary-3b3xI6:hover,
.lookLink-9FtZy-.colorBrand-3pXr91:hover,
.lookLink-9FtZy-.colorWhite-rEQuAQ:hover,
.lookLink-9FtZy-.colorGrey-2DXtkV:hover,
.lookInverted-2D7oAl.colorBrand-3pXr91:hover,
.lookInverted-2D7oAl.colorGreen-29iAKY:hover,
.lookGhost-2Fn_0-.colorWhite-rEQuAQ:hover,
.copyInput-2rOSt7 .lookGhost-2Fn_0-.colorGrey-2DXtkV:hover,
.streamerModeEnabledBtn-2ZJ2eq:hover,
.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u:hover,
.headerButtonColor-G7_f-V:hover,
.disabledButtonColor-RDvfEC:hover,
.searchQuery-1B7rtx .keybindShortcut-1BD6Z1 span:hover,
.action-yrVND8:hover,
.header-1RC2Wb .button-38aScr:hover,
.actionButton-2PeQbJ:hover,
.cancelButton-RGXhAE:hover,
.backButton-25HgIF:hover,
.shareButton-3w0M74:hover,
.hasMore-3e72_v:hover,
.button-3tQuzi:hover,
.button-1MICoQ:hover,
.button:hover,
.dismiss-SCAH9H:hover,
.learnMoreButton-1OUyxs:hover,
.bd-pfbtn:hover,
.bda-slist .bda-footer button:hover,
.pluginrepo-modal .pluginEntry.downloadable .btn-download:hover,
.bda-slist li button:hover,
.dc-button:hover,
.smalltalk button:hover,
.form-deprecated .btn-primary:hover,
.form.deprecated .btn-primary:hover,
.create-guild-container.deprecated .form-actions .btn-default:hover,
.regionSelect-3lf4eE button:hover,
.closeButton-1tv5uR:hover,
.additionalActionsIcon-1FoUlE:hover {
    transform: scale(1.08);
    border-radius: 5px !important;
    background-color: #68686859 !important;
}

.button-14-BFJ.enabled-2cQ-u7 {
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
}

.button-14-BFJ.enabled-2cQ-u7:hover {
    border-radius: 10px;
    border-color: var(--scrollbar-track);
    border-width: 1px;
    border-style: solid;
    background-color: var(--button-background) !important;
}

.panels-j1Uci_ .flex-1xMQg5 {
    background-color: #b2b2b217 !important;
    border-radius: 5px;
}

.clickable-1JJAn8.container-2Pjhx-:hover .layout-2DM8Md,
.clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i,
.wrapper-1ucjTd:hover,
.item-1Yvehc:hover,
.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover,
.side-8zPYf6 .item-PXvHYJ:hover,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover {
    background: #b2b2b217 !important;
}

.clickable-1JJAn8.container-2Pjhx-:hover .roleColor-rz2vM0 {
    color: white !important;
}

.avatar-1BDn8e.clickable-1bVtEA:hover {
    filter: brightness(0.4) !important;
    border-radius: 0;
}

.charCounter-7fw40k.charcounter.normal {
    right: -5em;
    bottom: 0;
}